
        <div class="pageheader notab">
            <h1 class="pagetitle">支付宝帐号设置</h1>
            <span class="pagedesc"></span>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper lineheight21">
        
        
            <form class="stdform stdform2" method="post">
				<p>
					<label>PID</label>
					<span class="field"><input type="text" name="pid" id="pid" value="{$_CFG.alipay.pid}" class="smallinput" /></span>
				</p>
				
				<p>
					<label>key</label>
					<span class="field"><input type="text" name="key" id="key" value="{$_CFG.alipay.key}" class="smallinput" /></span>
				</p>
				
				
				<p class="stdformbutton">
					<button class="submit radius2">提交</button>
					<input type="reset" class="reset radius2" value="重置" />
				</p>
			</form>
        
        
        </div><!--contentwrapper-->
        